body {
    font-family: Arial, sans-serif;
    background-color: #282c34; /* 更改背景顏色 */
    color: #ffffff; /* 更改文字顏色 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #3c4043; /* 更改容器顏色 */
    padding: 40px; /* 增加內邊距 */
    border-radius: 10px; /* 增加圓角 */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* 增加陰影 */
    text-align: center;
    width: 400px; /* 增加容器的寬度 */
}

h1 {
    color: #ffcc00; /* 更改標題顏色 */
    font-size: 2em; /* 增加標題字體大小 */
}

#lyricContainer {
    background-color: #4a4e54; /* 更改歌詞區域顏色 */
    border-radius: 5px;
    padding: 20px; /* 增加內邊距 */
    margin-bottom: 20px; /* 增加下方間距 */
    font-size: 1.2em; /* 增加字體大小 */
}

input {
    padding: 15px; /* 增加內邊距 */
    width: 90%; /* 調整寬度 */
    margin-bottom: 15px; /* 增加下方間距 */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em; /* 增加字體大小 */
}

button {
    padding: 15px 20px; /* 增加內邊距 */
    background-color: #007bff; /* 更改按鈕顏色 */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em; /* 增加字體大小 */
}

button:hover {
    background-color: #0056b3; /* 按鈕懸停時的顏色 */
}

#resultMessage {
    margin-top: 15px; /* 增加上方間距 */
    font-weight: bold;
    font-size: 1.2em; /* 增加字體大小 */
}

.hidden {
    display: none;
}
